<div class="register-page">
    <div class="form">
        <form class="register-form" (ngSubmit)="onSignup(f)" #f="ngForm" novalidate>
            <input type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{'is-invalid':name.invalid && onKeyUpNameInput}" required minlength="3"
                   placeholder="Name" (keyup)="onKeyUpName()">
            <div *ngIf="onKeyUpNameInput && name.invalid" class="validation-message">
                Name should have at least 3 characters
            </div>
            <input (keyup)="onKeyUpMail()" type="email" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid':email.invalid && onKeyUpMailInput}" required placeholder="Email" email>
            <div *ngIf="onKeyUpMailInput && email.invalid">
                <div *ngIf="email.errors.required" class="validation-message">
                    Email field is required
                </div>
                <div *ngIf="email.errors.email" class="validation-message">
                    Email should be a valid email address
                </div>
            </div>
            <input type="password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{'is-invalid':password.invalid && onKeyUpPasswordInput}" required minlength="6"
                   placeholder="Password" (keyup)="onKeyUpPassword()">
            <div *ngIf="onKeyUpPasswordInput && password.invalid" class="validation-message">
                Password should be at least 6 characters
            </div>
            <button type="submit" [disabled]="!f.valid">Sign Up</button>
            <p class="message">Already registered? <a routerLink="/signin">Sign In</a></p>
        </form>
    </div>
    <div *ngIf="errors">
        <div *ngIf="errors.email">
            <div *ngFor="let emailError of errors.email" class="alert">
                {{ emailError }}
            </div>
        </div>
        <div *ngIf="errors.name">
            <div *ngFor="let nameError of errors.name" class="alert">
                {{ nameError }}
            </div>
        </div>
        <div *ngIf="errors.password">
            <div *ngFor="let passwordError of errors.password" class="alert">
                {{ passwordError }}
            </div>
        </div>
    </div>
</div>
