<div class="register-page">
    <div class="form">
        <form class="register-form" (ngSubmit)="onSignup(f)" #f="ngForm">
            <input type="text" id="name" name="name" ngModel required placeholder="Name">
            <input type="email" id="email" name="email" ngModel required placeholder="Email">
            <input type="password" id="password" name="password" ngModel required placeholder="Password">
            <button type="submit" [disabled]="!f.valid">Sign Up</button>
            <p class="message">Already registered? <a routerLink="/signin">Sign In</a></p>
        </form>
    </div>
</div>
