<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
    <!--<ul>-->
        <!--<li><a routerLink="/signup">SignUp</a></li>-->
        <!--<li><a routerLink="/signin">SignIn</a></li>-->
    <!--</ul>-->
    <!--<app-project></app-project>-->
    <!--<app-add-task></app-add-task>-->
    <!--<div class="tasks-list-wrap">-->
        <!--<app-task></app-task>-->
    <!--</div>-->
    <!--<app-create-project></app-create-project>-->
    <router-outlet></router-outlet>
</div>