<ng-container *ngIf="projects">
    <ng-container *ngFor="let project of projects">
        <ng-container *ngIf="project">
            <div class="project-wrap clearfix">
                <div class="project-title">
                    <i class="fas fa-calendar-alt"></i>
                    <input placeholder="Complete the test task for Ruby Garage" [disabled]="disabled" value="{{ project.name }}">
                </div>
                <div class="project-actions">
                    <i class="fas fa-pencil-alt"></i>
                    <i class="far fa-trash-alt" (click)="deleteProject(project)"></i>
                </div>
            </div>
            <app-task [project_id]="project.id"></app-task>
        </ng-container>
    </ng-container>
</ng-container>

  <div class="create-project-wrap">
      <a (click)="postProject()">
          <i class="fas fa-plus create-project-icon"></i>
          Add TODO List
      </a>
  </div>
  <app-logout></app-logout>