p {
    margin: 0;
}

.project-wrap {
    height: 50px;
    background: #3f65ae;
}

.project-title {
    line-height: 50px;
    position: relative;
    padding-left: 53px;
    float: left;
}

.project-actions {
    float: right;
    padding: 16px 18px 0 0;
    color: #98b0d2;
    display: none;
}

.project-title p {
    color: #fff;
    font-size: 17px;
}

.fa-calendar-alt {
    position: absolute;
    top: 11px;
    left: 19px;
    font-size: 24px;
    color: #1f2b3d;
}

.project-actions .fa-pencil-alt {
    cursor: pointer;
    padding-right: 9px;
    border-right: 1px solid #98b0d2;
}

.project-actions .fa-trash-alt {
    cursor: pointer;
    padding-left: 7px;
}


.create-project-wrap {
    text-align: center;
}

.create-project-wrap a {
    text-decoration: none;
    background: #3f65ae;
    display: inline-block;
    color: #fff;
    position: relative;
    margin-top: 19px;
    padding: 14px 53px;
    font-weight: bold;
    border-radius: 2px;
}

.create-project-icon {
    font-size: 25px;
    color: #32496f;
    position: absolute;
    top: 9px;
    left: 12px;
}

.project-title input {
    width: 527px;
    color: #fff;
    border: 0;
    background: #3f65ae;
    outline: 0;
    height: 24px;
}

.project-title input::placeholder {
    color: #fff;
}

.project-item {
    margin-bottom: 30px;
}

.project-item-wrap .project-item:last-child {
    margin-bottom: 0;
}

.edit-mode input {
    border: 1px solid #fff;
}

.edit-mode button {
    background: linear-gradient(#94cbae, #508767);
    border: 1px solid #447557;
    padding: 4px;
    margin-left: 2px;
    color: #fff;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
    outline: 0;
    cursor: pointer;
}

.create-project-wrap a {
    cursor: pointer;
}

.edit-mode button:hover {
    background: linear-gradient(#508767, #94cbae);
}

.project-wrap:hover .project-actions {
    display: block;
}