@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'normalize.css';

.mat-form-field-infix {
    border: 0;
}

.mat-form-field-wrapper {
    margin-left: 20px;
}

body,
.mat-form-field{
    font-family: 'Open Sans', sans-serif;
}

.mat-form-field-infix label:not(.mat-empty) {
    display: none !important;
}

[id^=mat-input] {
    margin-bottom: -8px !important;
}

.mat-focused .mat-form-field-label {
    display: none !important;
}

.task .mat-form-field-infix {
    visibility: hidden;
    width: 0;
}

.task .mat-form-field-underline {
    height: 0 !important;
}

.task .mat-form-field {
    position: absolute;
    right: 100px;
    top: 10px;
}

.alert {
    padding: 20px;
    background-color: red;
    color: white;
    width: 360px;
    margin: 0 auto 15px auto;
}