@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'normalize.css';

.mat-form-field-infix {
    border: 0;
}

.mat-form-field-wrapper {
    margin-left: 20px;
}

body,
.mat-form-field{
    font-family: 'Open Sans', sans-serif;
}

.mat-form-field-infix label:not(.mat-empty) {
    display: none !important;
}

[id^=mat-input] {
    margin-bottom: -8px !important;
}