<div class="task">
  <div class="done-checkbox">
    <input type="checkbox" name="done-checkbox" title="done-checkbox">
  </div>
  <div class="task-body">
    Open this mock-up in Adobe Fireworks
  </div>
  <div class="task-actions">
    <div class="task-change-priority">
      <i class="fas fa-sort-up"></i>
      <i class="fas fa-sort-down"></i>
    </div>
    <div class="edit-task">
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="delete-task">
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
</div>