<div class="create-task-wrap">
    <i class="fas fa-plus create-task-icon"></i>
    <form class="add-task-form" (ngSubmit)="postTask(f); f.resetForm()" #f="ngForm">
        <input type="text" name="name" placeholder="Start typing here to create a task..." ngModel required>
        <mat-form-field>
            <input matInput [matDatepicker]="dp3" placeholder="Set deadline date" name="deadline" ngModel required>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <button class="add-task-button" type="submit" [disabled]="!f.valid">Add Task</button>
    </form>
</div>
<ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
    <div class="task" *ngFor="let task of tasks">
        <ng-container *ngIf="task">
            <div class="done-checkbox">
                <input type="checkbox" name="done-checkbox" title="done-checkbox" [(ngModel)]="task.isDone" (click)="completeToggle(task)">
            </div>
            <div class="task-body">
                <div *ngIf="editing && editId === task.priority; else notEditing" class="edit-mode">
                    <form #edit="ngForm" (ngSubmit)="putTask(task)">
                        <input type="text" name="taskName" value="{{ task.name }}" [(ngModel)]="editValue" class="task-text-edit" [class.done]="task.isDone" required>
                        <button type="submit" [disabled]="!edit.valid">Save</button>
                        <button (click)="onCancelEditing()">Cancel</button>
                    </form>
                </div>
                <ng-template #notEditing>
                    <input type="text" value="{{ task.name }}" disabled class="task-text" [class.done]="task.isDone">
                </ng-template>
                <span class="deadline-expired" [class.deadline-done]="task.isDone" *ngIf="task.deadline < getCurrentTimestamp()">
                    (deadline - {{ task.deadline | date }})
                 </span>
                <span class="deadline" [class.deadline-done]="task.isDone" *ngIf="task.deadline > getCurrentTimestamp()">
                    (deadline - {{ task.deadline | date }})
                 </span>
            </div>
            <div class="task-actions">
                <div class="task-change-priority">
                    <div class="arrow-up" (click)="increasePriority(task)"></div>
                    <div class="arrow-down" (click)="decreasePriority(task)"></div>
                </div>
                <div class="edit-task">
                    <i class="fas fa-pencil-alt" (click)="onEdit(task)"></i>
                </div>
                <div class="delete-task">
                    <i class="far fa-trash-alt" (click)="deleteTask(task)"></i>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-template #noTasks>
    <div class="no-tasks">
        There is no tasks yet. Create your first now!
    </div>
</ng-template>