.task {
    border-bottom: 1px solid #e7ebea;
    border-right: 2px solid #b1b2a2;
    border-left: 2px solid #b1b2a2;
    color: #999;
}

.task:last-child {
    border-bottom: 2px solid #b1b2a2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.task:hover {
    background: #fcfed5;
}

.task-body {
    line-height: 49px;
    padding-left: 16px;
    border-left: 1px solid #efdadf;
    font-weight: 600;
    font-size: 14px;
}

.done-checkbox {
    padding: 15px 11px 16px 18px;
    border-right: 1px solid #efdadf;
}

.done-checkbox input {
    cursor: pointer;
}

.task div {
    display: inline-block;
}

.task-actions {
    float: right;
    font-size: 14px;
    padding: 13px 19px 21px 19px;
    border-left: 1px solid #e7ebea;
}

.task-actions i {
    cursor: pointer;
}

.task-change-priority .fa-sort-down {
    position: absolute;
    top: 3px;
}

.delete-task i {
    padding-left: 10px;
    border-left: 1px solid #e7ebea;
}

.edit-task i {
    padding-right: 6px;
    padding-left: 10px;
    border-left: 1px solid #e7ebea;
}

.task-change-priority {
    padding-right: 6px;
    position: relative;
}