.task {
    border-bottom: 1px solid #e7ebea;
    border-right: 2px solid #b1b2a2;
    border-left: 2px solid #b1b2a2;
    color: #999;
}

.task:last-child {
    border-bottom: 2px solid #b1b2a2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.task:hover {
    background: #fcfed5;
}

.task-body {
    line-height: 49px;
    padding-left: 10px;
    border-left: 1px solid #efdadf;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding-right: 23px;
    border-right: 1px solid #e7ebea;
}

.done-checkbox {
    padding: 15px 11px 16px 18px;
    border-right: 1px solid #efdadf;
    display: inline-block;
    margin-right: 4px;
}

.done-checkbox input {
    cursor: pointer;
}
.task:hover .task-actions {
    display: block;
}

.task-actions i {
    cursor: pointer;
}


.task-actions div {
    display: inline-block;
}

.task-actions {
    float: right;
    font-size: 14px;
    padding: 13px 19px 21px 19px;
    display: none;
}

.delete-task i {
    padding-left: 10px;
    border-left: 1px solid #e7ebea;
}

.edit-task i {
    padding-right: 6px;
    padding-left: 10px;
    border-left: 1px solid #e7ebea;
}

.task-change-priority {
    padding-right: 6px;
    position: relative;
}

.edit-mode {
    display: inline-block;
}

.create-task-wrap {
    background: linear-gradient(#e1e1e1, #ccc);
    height: 50px;
    padding-top: 6px;
    position: relative;
    border-bottom: 1px solid #aaa;
    border-right: 2px solid #b1b2a2;
    border-left: 2px solid #b1b2a2;
    box-sizing: border-box;
}

.create-task-icon {
    font-size: 25px;
    color: #588f71;
    float: left;
    margin: 5px 15px 0 16px;
}

.create-task-wrap input {
    height: 31px;
    width: 40%;
    padding-left: 11px;
    font-size: 13px;
    padding-bottom: 2px;
    margin-top: -12px;
    color: #8e8e8e;
    outline: 0;
    box-sizing: border-box;
}

.add-task-button {
    height: 31px;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 108px;
    padding-bottom: 3px;
    font-size: 14px;
    cursor: pointer;
    background: linear-gradient(#94cbae, #508767);
    border: 1px solid #447557;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
    outline: 0;
}

.add-task-button:hover {
    background: linear-gradient(#508767, #94cbae);
}

.deadline, .deadline-expired {
    font-weight: 600;
    font-size: 14px;
}

.deadline {
    color: #3f65ae;
}

.deadline-expired {
    color: red;
}

.deadline-done {
    color: #999;
}

.done {
    text-decoration: line-through;
}

.task:hover input {
    background: #fcfed5;
    /*border: 1px solid #8e8e8e;*/
    outline: 0;
}

.task-body button {
    background: #3f65ae;
    color: #fff;
    border: 0;
    margin-left: 1px;
    cursor: pointer;
    padding: 2px 6px;
}

.task-text {
    color: #999;
    font-weight: bold;
    border: 0;
    background: #fff;
    outline: 0;
    width: 350px;
}

.task-text-edit {
    outline: 0;
    color: #999;
    font-weight: bold;
    border: 1px solid #8e8e8e;
    width: 250px;
}

button[disabled] {
    opacity: 0.3;
}

.arrow-up {
    top: -11px;
    width: 0;
    right: 5px;
    position: absolute;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #999;
    cursor: pointer;
}

.arrow-down {
    width: 0;
    right: 5px;
    top: -2px;
    position: absolute;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
    cursor: pointer;
}

.no-tasks {
    text-align: center;
    padding: 15px 0;
    background: #ddd;
    color: #999;
    border-bottom: 2px solid #b1b2a2;
    border-right: 2px solid #b1b2a2;
    border-left: 2px solid #b1b2a2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.create-task-wrap button[disabled]:hover {
    background: linear-gradient(#94cbae, #508767);
}