<div class="login-page">
  <div class="form">
    <form class="login-form" (ngSubmit)="onSignin(f)" #f="ngForm">
      <input type="email" id="email" name="email" ngModel required placeholder="Email">
      <input type="password" id="password" name="password" ngModel required placeholder="Password">
      <button type="submit" [disabled]="!f.valid">Sign In</button>
      <p class="message">Not registered? <a routerLink="/signup">Create an account</a></p>
    </form>
  </div>
</div>


<!--<form class="register-form">-->
  <!--<input type="text" placeholder="name"/>-->
  <!--<input type="password" placeholder="password"/>-->
  <!--<input type="text" placeholder="email address"/>-->
  <!--<button>create</button>-->
  <!--<p class="message">Already registered? <a href="#">Sign In</a></p>-->
<!--</form>-->